@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

#main {
    height: 110svh;
    width: 100%;
    background-color: #050812;
}

#main #navigator {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#slider {
    position: relative;
    margin-right: auto;
    height: 600px;
    width: 20%;
    display: flex;
    flex-direction: column;
}

#slider>#listIcon {
    height: 57px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    color: white;
}

#listIcon i {
    cursor: pointer;
}

#listIcon p {
    width: 70%;
    font-weight: 600;
    text-align: center;
    color: #BDFFF3;
}

#sliderData {
    height: 82.5%;
    width: 195px;
    margin-top: 5px;
    background-color: #19203D;
    border-radius: 8px;
    border-right: 1px solid rgb(0, 0, 0, 0.1);
    position: absolute;
    left: -195px;
    top: 9.5%;
    transition: all 0.3s ease-in-out;
}

#sliderData.active {
    left: 0;
    transition: all 0.5s ease-in-out;
}

#sliderData p {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    width: 100%;
    padding: 8% 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

#sliderData>p>a {
    text-decoration: none;
    color: white;
}

#container {
    height: 90%;
    width: 100%;
    /* padding-right: 35px; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    background-color: #050812;
}

#container>h3 {
    width: 80%;
    align-self: auto;
    color: white;
    margin-right: 1%;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 85%;
    width: 80%;
    background-color: #19203D;
    border-radius: 7px;
    margin: 1%;
}
#content>h3 {
    color: white;
}

#teamList {
    border: 2px solid;
    margin-top: 20px;
    width: 75%;
    /* height: auto; */
    border: 1px solid white;
    padding: 10px;
    border-collapse: collapse;
}

#teamList thead tr th {
    color: white;
    border: 1px solid white;
    padding: 7px;
}

th:first-child {
    width: 30%;
}

#body {
    text-align: center;
}

#body td {
    border: 1px solid white;
}

td {
    color: #FFFFF7;
    padding: 5px;
}

td:first-child {
    width: 30%;
}

/* edit and delete button while displaying teams */
a {
    padding: 4px;
    cursor: pointer;
    color: white;
}