@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

#main {
  height: 110svh;
  width: 100%;
  background-color: #050812;
}

#main #navigator {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#slider {
  position: relative;
  margin-right: auto;
  height: 600px;
  width: 20%;
  display: flex;
  flex-direction: column;
}

#slider>#listIcon {
  height: 57px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
  color: white;
}
#listIcon i{
  cursor: pointer;
}
#listIcon p {
  width: 70%;
  font-weight: 500;
  text-align: center;
  color: #cddaea;
}

#sliderData {
  height: 82.5%;
  width: 195px;
  margin-top: 5px;
  background-color: #19203D;
  border-radius: 8px;
  border-right: 1px solid rgb(0, 0, 0, 0.1);
  position: absolute;
  left: -195px;
  top: 9.5%;
  transition: all 0.3s ease-in-out;
}

#sliderData.active {
  left: 0;
  transition: all 0.5s ease-in-out;
}

#sliderData h4 {
  font-size: 19px;
  text-align: center;
  padding: 2%;
  color: #cddaea;
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}

#sliderData p {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  width: 100%;
  padding: 8% 0%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
#sliderData > p > a{
  text-decoration: none;
  color: white;
}
/* To display top right corner First Letter of user*/
#userLoginLogo {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#userLoginLogo > p{
  font-weight: 500;
  color: white;
}
/* Styling the first letter of user */
b{
  margin-left: 10px;
  padding: 4px 10px;
  background-color: #cddaea;
  color: #0f3158;
  cursor: none;
  border-radius: 50%;
}